.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  /*box-shadow: 0 0 0.5em gold; */
  box-shadow: 5px 5px 5px #ccc;
}
.product_rating {
  display: flex;
}
.product img {
  max-height: 150px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product button {
  background: #ec407a;
  border: 1px solid;
  margin-top: 10px;
  border-color: #ec407a;
  color: #fff;
  padding: 8px;
}

.product_price {
  margin-top: 5px;
}

.product_info {
  height: 130px;
  margin-bottom: 0px;
  text-align: left !important;
}

.start {
  color: #7b1fa2;
}
